# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
import sys

# taken from https://medium.com/ai-does-it-better/print-colored-text-in-python-enhance-terminal-output-b90aede058c8
def print_colored(text, color, end='\n'):
    colors = {'red': '\x1b[31m', 'green': '\x1b[32m', 'yellow': '\x1b[33m', 'blue': '\x1b[34m'}
    reset = '\x1b[0m'
    sys.stdout.write(colors.get(color, '') + text + reset + end)

print_comment = lambda text: print_colored(text, color='yellow')

print_colored('red text', color='red')
print_colored('green text', color='green')
print_colored('yellow text', color='yellow')
print_comment('This is a comment')

red text
green text
yellow text
This is a comment

In [18]:
df_jeopardy = pd.read_csv('jeopardy.csv')
print_comment('Columns names:')
print(df_jeopardy.columns)
print_comment('Fixing columns names')
df_jeopardy.rename(columns={'Show Number': 'show_number', ' Air Date': 'air_date', ' Round': 'round', 'Category': 'category', 
                            ' Value': 'value', ' Question': 'question', ' Answer': 'answer'}, inplace=True)
print_comment('First five rows, with fixed columns names')
print(df_jeopardy.head(5))

Columns names:
Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Fixing columns names
First five rows, with fixed columns names
   show_number    air_date      round                         Category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [20]:
def filter_by_words_in_question(df, list_of_words):
    all_words_are_in_string = lambda s: all([word.lower() in s.lower().split(' ') for word in list_of_words])
    return df[df.question.apply(all_words_are_in_string)]

test_words_list = ["King", "England"]
test_result = filter_by_words_in_question(df_jeopardy, test_words_list)
print_comment('Test result contains {} rows'.format(len(test_result)))
print(test_result.head(5).question)

Test result contains 74 rows
6337     In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                   This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                      It's the number that followed the last king of England named William
14912         This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
18076           In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
Name: question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [21]:
print_comment('Making searches case insensitive by string.lower() function is comparisons')
print_comment('Making searches for whole words only by split()-ting the searched string into a list of words')
print()
print(filter_by_words_in_question(df_jeopardy, ["king", "england"]).head(5).question)

Making searches case insensitive by string.lower() function is comparisons
Making searches for whole words only by split()-ting the searched string into a list of words

6337     In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                   This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                      It's the number that followed the last king of England named William
14912         This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
18076           In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
Name: question, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [25]:
# print(jeopardy_df.value[jeopardy_df.value.apply(lambda s: s[0] != '$')])
# jeopardy_df.value.describe()

def value_to_float(str):
    if str == 'no value':
        return 0
    else:
        # We convert ',' in order to cover values such as '$2,000'
        return float(str[1:].replace(',', '')) 

df_jeopardy['value_float'] = df_jeopardy.value.apply(value_to_float)

In [26]:
def check_difficulty_by_words_in_question(df, words):
    result = filter_by_words_in_question(df, words)
    print('The amount and mean value for questions with the words {} is:'.format(words))
    print(len(result), result.value_float.mean())

check_difficulty_by_words_in_question(df_jeopardy, ['king'])
check_difficulty_by_words_in_question(df_jeopardy, ['queen'])
check_difficulty_by_words_in_question(df_jeopardy, ['flag'])

The amount and mean value for questions with the words ['king'] is:
2075 805.4698795180723
The amount and mean value for questions with the words ['queen'] is:
818 756.7237163814181
The amount and mean value for questions with the words ['flag'] is:
616 681.0064935064935

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [27]:
def count_unique_answers(df):
    return df.answer.nunique()

print("No of answers 'Henry VIII'")
print(len(jeopardy_df[jeopardy_df.answer == 'Henry VIII']))
print("Questions containing the words ['king']")
dataset = filter_by_words_in_question(df_jeopardy, ['king'])
print("No of unique answers")
print(count_unique_answers(dataset))
print("No of answers 'Henry VIII'")
print(len(dataset[dataset.answer == 'Henry VIII']))
print("Questions containing the words ['queen']")
dataset = filter_by_words_in_question(df_jeopardy, ['queen'])
print("No of unique answers")
print(count_unique_answers(dataset))
print("Questions containing the words ['flag']")
dataset = filter_by_words_in_question(df_jeopardy, ['flag'])
print("No of unique answers")
print(count_unique_answers(dataset))

No of answers 'Henry VIII'
85
Questions containing the words ['king']
No of unique answers
1165
No of answers 'Henry VIII'
41
Questions containing the words ['queen']
No of unique answers
494
Questions containing the words ['flag']
No of unique answers
436

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [31]:
def filter_by_date(df, start_date, end_date):
    return df[(df.air_date > start_date) & (df.air_date < end_date)]

print('How many record between 2000 and 2010 ?')
print(len(filter_by_date(df_jeopardy, '2000-01-01', '2010-01-01')))
print('How many record between 1990 and 2000 ?')
print(len(filter_by_date(df_jeopardy, '1990-01-01', '2000-01-01')))
print('How many record between 1990 and 2000, question containing ["king"] ?')
print(len(filter_by_date(filter_by_words_in_question(df_jeopardy, ['king']), '1990-01-01', '2000-01-01')))

How many record between 2000 and 2010 ?
123852
How many record between 1990 and 2000 ?
56745
How many record between 1990 and 2000, question containing ["king"] ?
614

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.

# Sandbox

In [15]:
['abd'] in 'abd is great'

TypeError: 'in <string>' requires string as left operand, not list